<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6">
		<div class="footer-left">
			<div class="footer-title">BE FIRST</div>
				<div class="footer-copy">Want exclusive offers? Sign up<br>for Polo Factory Store Mobile Alerts.</div>
			<div class="btn btn-footer">SIGN ME UP</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<div class="footer-right">
			<div class="footer-title">DISCOVER</div>
				<div class="footer-copy">Find a Factory Store near you.<br>Search, find, and explore!</div>
			<div class="btn btn-footer">STORE LOCATOR</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="footer-legal">Copyright © 2016 Ralph Lauren Media LLC</div>
	</div>	
</div>
