

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <%= image_tag('men-slider-fpo-sm.png', class: 'slider-one-sm', width: '100%') %>
          <%= image_tag('men-slider-fpo-lg.png', class: 'slider-one-lg', width: '100%') %>
        </div>
        <div class="swiper-slide"><%= image_tag('home-slider-image-two-fpo.png', width: '100%') %></div>
        <div class="swiper-slide"><%= image_tag('home-slider-image-three-fpo.png', width: '100%') %></div>
   </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- If we need navigation buttons -->
<!--     <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div> -->
    

</div>


